<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static' , filename='stylesshowone.css') }}"
    />
  </head>
  <body>
    <div class="topnav">
        <span class="navbar-text">
          Here is the information for the product you have selected. It was added by the following user/customer: <span class="text-info">{{ product.user.first_name }} {{ product.user.last_name }}</span>.
        
    </div>
    <center><h1>{{ product.product_name }}</h1></center>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
    <td>{{ product.product_name }}</td>
    <td> {{product.quantity}}</td>
    <td>{{product.description}}</td>
        </tr></tbody>
    
        <div class="navbar"> 
          <a class="btn btn-info" href="/dashboard">Products</a>
          <a class="btn btn-info" href="/logout">Logout</a>
    
    </div>
  </body>
</html>